@using e_bibli.Models
@model e_bibli.ViewModels.Afficher.AuteursViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Notre sélection</title>
	<style>
		table {
			border-style: solid;
			border-width: thick;
		}

		.fst {
			border-style: solid;
			border-width: thick;
			background-color: aquamarine;
		}

		.scd {
			border-style: solid;
			border-width: thick;
		}

		td {
			border-style: dotted;
			border-width: thin;
		}
	</style>
</head>
<body>
	<table>
		<tr>
			<th class="fst" colspan="2">Auteur</th>
		</tr>
		<tr>
			<th class="scd">Nom</th>
			<th class="scd">Prénom</th>
		</tr>
		@foreach (Auteur auteur in Model.Auteurs)
		{
			<tr>
				<td>@auteur.Nom</td>
				<td>@auteur.Prenom</td>
			</tr>
		}
	</table>
	<br />
	<hr />
	<br />
	@Html.ActionLink("Retourner à l'accueil", "Index", "Home")
</body>
</html>
