
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	<h1>Bienvenue dans ma bibliothèque en ligne !</h1>
	<h2>Voici ses différentes pages</h2>
	<ul>
		<li>@Html.ActionLink("Afficher la liste des livres", "Index", "Afficher")</li>
		<li>@Html.ActionLink("Afficher la liste des auteurs", "Auteurs", "Afficher")</li>
	</ul>
	<!-- WIP, devrait permettre d'ajouter des éléments dans la DB
	<h2>Ajouter un item</h2>
	using (Html.BeginForm("Add", "Home", FormMethod.Get))
	{

	}
	-->
	@if (ViewBag.Message != null)
	{
		<p>@ViewBag.Message</p>
	}
</body>
</html>
